body{
  background-color: #F3F3F3;
  width: 100%;
}
.frame{
  border: black solid 3px;
  /*margin: 10px; */
  height: 700px;
}
#main{
  margin: auto;
}
h2{
  padding: 10px;
}
#footer{
  margin-top: 55px;
  padding: 10px;
  background-color: lightgray;
  height: 200px;
  
}
.rounded-circle{
  width: 20%;
}
.cal-logo{
  width: 17%;
}
#topNav{
  background-color: #B09748;
  padding: 10px;
  width: 100%;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn{
  background-color: #fee497;
  border-color: #B09748;
}
#logos{
  padding-left: 10px;
}
a:link, a:visited, a:hover{
  text-decoration: none;
  color: white;
}